<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <% include head %>
    <% include script %>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">
        <% include ./usertopbar %>

        <% include ./sidebar %>
        <div class="page-wrapper bg-white" >
            <div class="container-fluid">
                <!-- AD -->
                <!-- /7682122/ilivecat_home_728x90_top -->
                <div class="d-flex justify-content-center">
                    <!-- /7682122/ilivenet_article_728x90_320x100_RWD -->
                    <div id='div-gpt-ad-1559291062996-0'>
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1559291062996-0'); });
                        </script>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h3 class="card-title">Subscriptions</h3>
                                        <!-- <h5 class="card-subtitle">Overview of Latest Month</h5> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-9">
                                        <div class="comment-widgets scrollable" style="max-height: 400px;">
                                            <div class="row">
                                                <% posts.subscriptions.forEach(function(post, index) {%>
                                                    <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                                        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                            <div class="card card-hover" >
                                                                <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                                    <div class="box bg-white">
                                                                        <!-- stream photo -->
                                                                        <div style="position:relative">
                                                                            <% if (!post._source.thumbnails) { %>
                                                                                <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                            <% } else { %>
                                                                                <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                            <% } %>
                                                                            <!-- platform logo -->
                                                                            <div class="stream-img">
                                                                                <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                            </div>
                                                                            <!-- view number -->
                                                                            <% if (post._source.platform != "Facebook") { %>
                                                                                <div class="rounded viewcount">
                                                                                    <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                                </div>
                                                                            <% } %>
                                                                            <!-- live status -->
                                                                            <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                                <div class="rounded livestatus">
                                                                                    <a style="color: #FFFFFF">LIVE</a>
                                                                                </div>
                                                                            <% } %>
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                            <p class="text-black-50 "><%= post._source.host %></p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                            <div class="card card-hover">
                                                                <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                                    <div class="box bg-white">
                                                                        <div style="position:relative">
                                                                            <% if (!post._source.thumbnails) { %>
                                                                                <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                            <% } else { %>
                                                                                <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                            <% } %>
                                                                            <!-- platform logo -->
                                                                            <div class="stream-img">
                                                                                <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                            </div>
                                                                            <!-- view number -->
                                                                            <% if (post._source.platform != "Facebook") { %>
                                                                                <div class="rounded viewcount">
                                                                                    <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                                </div>
                                                                            <% } %>
                                                                            <!-- live status -->
                                                                            <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                                <div class="rounded livestatus">
                                                                                    <a style="color: #FFFFFF">LIVE</a>
                                                                                </div>
                                                                            <% } %>
                                                                        </div>
                                                                        <div>
                                                                            <div>
                                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                            </div>
                                                                            <p class="text-black-50 "><%= post._source.host %></p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <%}) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="d-md-flex align-items-center">
                                            <div>
                                                <h3 class="card-title">Upcoming Stream</h3>
                                            </div>
                                        </div>
                                        <div class="comment-widgets scrollable" style="max-height: 400px;">

                                            <% posts.upcoming.forEach(function(post, index) {%>
                                                <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>

                                                            <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                                <div class="box bg-white">
                                                                    <!-- stream photo -->
                                                                    <div style="position:relative">
                                                                        <% if (!post._source.thumbnails) { %>
                                                                            <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="200px">
                                                                        <% } else { %>
                                                                            <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="200px">
                                                                        <% } %>
                                                                        <!-- platform logo -->
                                                                        <div class="stream-img">
                                                                            <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                        </div>
                                                                </div>
                                                            </a>
                                                <% } else { %>

                                                            <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                                <div class="box bg-white">
                                                                    <div style="position:relative">
                                                                        <% if (!post._source.thumbnails) { %>
                                                                            <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="200px">
                                                                        <% } else { %>
                                                                            <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="200px">
                                                                        <% } %>
                                                                        <!-- platform logo -->
                                                                        <div class="stream-img">
                                                                            <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                <% } %>
                                            <%}) %>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Recommended</h3>
                            </div>
                            <div class="comment-widgets scrollable" style="max-height: 400px;">
                                <div class="row">
                                    <% posts.recommended.forEach(function(post, index) {%>
                                        <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover" >
                                                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <!-- stream photo -->
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover">
                                                    <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                </div>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}) %>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Today</h3>
                            </div>
                            <div class="comment-widgets scrollable" style="max-height: 400px;">
                                <div class="row">
                                    <% posts.today.forEach(function(post, index) {%>
                                        <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover" >
                                                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <!-- stream photo -->
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover">
                                                    <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                </div>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Hot</h3>
                            </div>
                            <div class="comment-widgets scrollable" style="max-height: 400px;">
                                <div class="row">
                                    <% posts.hot.forEach(function(post, index) {%>
                                        <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover" >
                                                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <!-- stream photo -->
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover">
                                                    <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                </div>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}) %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Most Viewed</h3>
                            </div>
                            <div class="comment-widgets scrollable" style="max-height: 400px;">
                                <div class="row">
                                    <% posts.most_viewed.forEach(function(post, index) {%>
                                        <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover" >
                                                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <!-- stream photo -->
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover">
                                                    <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                </div>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}) %>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Within 72 hours</h3>
                            </div>
                            <div class="comment-widgets scrollable" style="max-height: 400px;">
                                <div class="row">
                                    <% posts.within_72_hours.forEach(function(post, index) {%>
                                        <% if (post._source.platform == "Twitch" || post._source.platform == "YouTube" ) { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover" >
                                                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post._source.channel %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <!-- stream photo -->
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png"  width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xlg-2">
                                                <div class="card card-hover">
                                                    <a href="javascript:void(0);" onclick="window.open('<%= post._source.videourl %>');saveClickAction('<%= post._source.videourl %>','<%= post._source.platform %>');">
                                                        <div class="box bg-white">
                                                            <div style="position:relative">
                                                                <% if (!post._source.thumbnails) { %>
                                                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                                                <% } else { %>
                                                                    <img class="rounded mx-auto" src="<%= post._source.thumbnails %>" alt="<%= post._source.platform %>-<%= post._source.title %>" width="100%" height="130px">
                                                                <% } %>
                                                                <!-- platform logo -->
                                                                <div class="stream-img">
                                                                    <img src="/images/<%= post._source.platform %>-icon.png" width="100%" height="100%"></img>
                                                                </div>
                                                                <!-- view number -->
                                                                <% if (post._source.platform != "Facebook") { %>
                                                                    <div class="rounded viewcount">
                                                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post._source.viewers %></a>
                                                                    </div>
                                                                <% } %>
                                                                <!-- live status -->
                                                                <% if (post._source.status == "live" || post._source.status == "Live" || post._source.status == "LIVE") { %>
                                                                    <div class="rounded livestatus">
                                                                        <a style="color: #FFFFFF">LIVE</a>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <h6 class="text-black omit" style="color: #3e5569"><%= post._source.title %></h6>
                                                                </div>
                                                                <p class="text-black-50 "><%= post._source.host %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}) %>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>
