<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <% include head %>
    <% include script %>
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <% include topbar %>
        <div class="container">
            <br>
            <h2>ONLINE STREAMS</h2>
            <table class="table table-bordered table-striped table-sm">
                <thead valign="middle" align="center" style="vertical-align: inherit;">
                    <tr>
                        <th align="center" style="vertical-align: inherit;">YouTube</th>
                        <th align="center" style="vertical-align: inherit;">Facebook</th>
                        <th align="center" style="vertical-align: inherit;">Twitch</th>
                        <th align="center" style="vertical-align: inherit;">西瓜直播</th>
                        <th align="center" style="vertical-align: inherit;">17直播</th>
                    </tr>
                </thead>
              <tbody>
                    <tr>
                        <td align="center"><%= streamsCounter.youtube %></td>
                        <td align="center"><%= streamsCounter.facebook%></td>
                        <td align="center"><%= streamsCounter.twitch %></td>
                        <td align="center"><%= streamsCounter.xigua %></td>
                        <td align="center"><%= streamsCounter.live17 %></td>
                    </tr>
              </tbody>
            </table>

            <br>
            <h2>USER INFORMATION</h2>
            <% userResult.forEach(function(user, index) {%>
                <table class="table table-bordered table-striped">
                    <thead valign="middle" align="center" style="vertical-align: inherit;">
                        <tr>
                            <th colspan="4" align="center" style="vertical-align: inherit;">
                                <img src="<%= user.picture %>"width="40px" height="40px" style="border-radius:50%;"></img>&nbsp;<%= user.name %>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    <!-- keyword -->
                    <tr>
                        <th scope="row" style="vertical-align: inherit;">Keyword</th>
                        <td colspan="1" align="center" style="vertical-align: inherit;">
                        <% user.search.forEach(function(search, index) {%>
                            <a><%= search.keyword %></a><br>
                        <% }); %>
                        </td>
                        <td colspan="2" align="center" style="vertical-align: inherit;">
                        <% user.search.forEach(function(search, index) {%>
                            <div class="omit-1">
                                <a><%= search.time %></a><br>
                            </div>
                        <% }); %>
                        </td>
                    </tr>

                    <!-- platform -->
                    <tr>
                        <th scope="row" rowspan="5" style="vertical-align: inherit;">Platform</th>
                        <td colspan="1" align="center" style="vertical-align: inherit;">YouTube</td>
                        <td colspan="2" align="center" style="vertical-align: inherit;"><%= user.statistics.platform.YouTube %> clicks</td>
                    </tr>
                    <tr>
                        <td colspan="1" align="center" style="vertical-align: inherit;">Facebook</td>
                        <td colspan="2" align="center" style="vertical-align: inherit;"><%= user.statistics.platform.Facebook %> clicks</td>
                    </tr>
                    <tr>
                        <td colspan="1" align="center" style="vertical-align: inherit;">Twitch</td>
                        <td colspan="2" align="center" style="vertical-align: inherit;"><%= user.statistics.platform.Twitch %> clicks</td>
                    </tr>
                    <tr>
                        <td colspan="1" align="center" style="vertical-align: inherit;">西瓜直播</td>
                        <td colspan="2" align="center" style="vertical-align: inherit;"><%= user.statistics.platform.Xigua %> clicks</td>
                    </tr>
                    <tr>
                        <td colspan="1" align="center" style="vertical-align: inherit;">17直播</td>
                        <td colspan="2" align="center" style="vertical-align: inherit;"><%= user.statistics.platform.Live17 %> clicks</td>
                    </tr>

                    <!-- history -->
                    <tr>
                        <th scope="row" style="vertical-align: inherit;">History</th>
                        <td colspan="1" align="center" style="vertical-align: inherit;">
                        <% user.history.forEach(function(history, index) {%>
                            <div class="omit-1">
                                <a><%= history.videourl %></a><br>
                            </div>
                        <% }); %>
                        </td>
                        <td colspan="2" align="center" style="vertical-align: inherit;">
                        <% user.history.forEach(function(history, index) {%>
                            <a><%= history.duration/1000 %> sec</a><br>
                        <% }); %>
                        </td>
                    </tr>

                    <!-- Last Login -->
                    <tr>
                        <th scope="row" style="vertical-align: inherit;">Last Login</th>
                        <td colspan="3" align="center" style="vertical-align: inherit;"><%= user.lastlogin %></td>
                    </tr>

                  </tbody>
                </table>
            <% }); %>

            <br>
            <h2>KEYWORD</h2>
            <table class="table table-bordered table-striped table-sm">
              <tbody>
                    <% keywordResult.forEach(function(key, index) {%>
                        <tr>
                            <th scope="row"><%= key.keyword %></th>
                            <td colspan="3" align="center"><%= key.search_through %></td>
                        </tr>
                    <% }); %>
              </tbody>
            </table>

        </div>
    </div>
    <% include footer %>
</body>

</html>
