<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <% include head.ejs %>
    <% include script.ejs %>
</head>

<script>

</script>

<body onload="start()" onbeforeunload="end()">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">
        <% if (isLogin) { %>
            <%- include usertopbar.ejs %>
            <%- include sidebar.ejs %>
        <% } else { %>
            <%- include topbar.ejs %>
        <% } %>
        <% include loginmodal.ejs %>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body border-top">
                                <div class="row">
                                    <iframe
                                        id="video"
                                        name="<%= stream.videourl%>"
                                        src="<%= stream.videoembedded %>"
                                        height="500"
                                        width="100%"
                                        frameborder="0"
                                        scrolling="no"
                                        allowfullscreen="true">
                                    </iframe>
                            </div>
                            </div>
                            <div class="card-body">
                                <hr class="featurette-divider">

                                <h3 class="card-title"><%= stream.title %>

                                    <span class="float-right">
                                        <a class="mdi mdi-eye" style="color: #a9a9a9"><%= stream.viewers %></a>
                                    </span>
                                </h3>

                                <% if (stream.platform != "Facebook") { %>

                                <% } %>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <iframe frameborder="0"
                                        scrolling="no"
                                        id="<%= stream.channel%>"
                                        src="<%= stream.chatroomembedded%>"
                                        height="650"
                                        width="100%">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AD -->
                <div class="d-flex justify-content-center">
                    <!-- /7682122/ilivenet_article_728x90_320x100_RWD -->
                    <div id='div-gpt-ad-1559291062996-0'>
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1559291062996-0'); });
                            </script>
                    </div>
                </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>
