<% if (posts.length == 0 || resultfound == false ) { %>
        <h3> No results for <%= keyword %>, maybe you would like ... </h3>
<% } %>

<div class="row no-gutters">
    <% posts.forEach(function(post, index) {%>
        <% if (post.platform == "Twitch" || post.platform == "YouTube" ) { %>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xlg-3">
                <div class="card card-hover" >
                    <a href="javascript:void(0);" onclick="window.open('/livestream/<%= post.channel %>');saveClickAction('<%= post.videourl %>','<%= post.platform %>');">
                        <div class="box bg-white">
                            <!-- stream photo -->
                            <div style="position:relative">
                                <% if (!post.thumbnails) { %>
                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                <% } else { %>
                                    <img class="rounded mx-auto" src="<%= post.thumbnails %>" alt="<%= post.platform %>-<%= post.title %>" width="100%" height="130px">
                                <% } %>
                                <!-- platform logo -->
                                <div class="stream-img">
                                    <img src="/images/<%= post.platform %>-icon.png"  width="100%" height="100%"></img>
                                </div>
                                <!-- view number -->
                                <% if (post.platform != "Facebook") { %>
                                    <div class="rounded viewcount">
                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post.viewers %></a>
                                    </div>
                                <% } %>
                                <!-- live status -->
                                <% if (post.status == "live" || post.status == "Live" || post.status == "LIVE") { %>
                                    <div class="rounded livestatus">
                                        <a style="color: #FFFFFF">LIVE</a>
                                    </div>
                                <% } %>
                            </div>
                            <div>
                                <h6 class="text-black omit" style="color: #3e5569"><%= post.title %></h6>
                                <p class="text-black-50 "><%= post.host %></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <% } else { %>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <a href="javascript:void(0);" onclick="window.open('<%= post.videourl %>');saveClickAction('<%= post.videourl %>','<%= post.platform %>');">
                        <div class="box bg-white">
                            <div style="position:relative">
                                <% if (!post.thumbnails) { %>
                                    <img class="rounded mx-auto" src="/images/no-photo-available.png" alt="Generic placeholder image" width="100%" height="60%">
                                <% } else { %>
                                    <img class="rounded mx-auto" src="<%= post.thumbnails %>" alt="<%= post.platform %>-<%= post.title %>" width="100%" height="130px">
                                <% } %>
                                <!-- platform logo -->
                                <div class="stream-img">
                                    <img src="/images/<%= post.platform %>-icon.png" width="100%" height="100%"></img>
                                </div>
                                <!-- view number -->
                                <% if (post.platform != "Facebook") { %>
                                    <div class="rounded viewcount">
                                        <a class="mdi mdi-eye"style="color: #FFFFFF"><%= post.viewers %></a>
                                    </div>
                                <% } %>
                                <!-- live status -->
                                <% if (post.status == "live" || post.status == "Live" || post.status == "LIVE") { %>
                                    <div class="rounded livestatus">
                                        <a style="color: #FFFFFF">LIVE</a>
                                    </div>
                                <% } %>
                            </div>
                            <div>
                                <div>
                                    <h6 class="text-black omit" style="color: #3e5569"><%= post.title %></h6>
                                </div>
                                <p class="text-black-50 "><%= post.host %></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <% } %>
    <%}) %>

</div>
